.page {
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 12px;
  gap: 24px;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  grid-row-start: 2;
}
